<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737590269295-avnlp24e630fm76tfjkssuplo8jfm04s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737590269295-avnlp24e630fm76tfjkssuplo8jfm04s</string>
	<key>API_KEY</key>
	<string>AIzaSyAEeCJVjSbEyu40mDolW8aM3iMjx947jJs</string>
	<key>GCM_SENDER_ID</key>
	<string>737590269295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherStationEsp32</string>
	<key>PROJECT_ID</key>
	<string>weather-station-esp32-bc66b</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-station-esp32-bc66b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737590269295:ios:a7c12bee3fda5fc085c49a</string>
</dict>
</plist>